* {
    font-family: 'Open Sans', sans-serif;
}

.app-container {
    width: 992px;
}

.app-container>header {
    background: rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
}

.currency-selector {
    padding: 20px;
    background: rgba(0,0,0,0.2);
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-weight: normal;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.5);
}

.currency-selector select {
    margin-left: 0.4rem;
}

.currency-info {
    width: 100%;
    background: rgba(0,0,0,0.1);
    margin: 0; padding: 0px;
    box-sizing: border-box;
    display: inline-block;
}

.currency-info>.currency-converter {
    margin: 0; padding: 20px;
}

.currency-info>.currency-converter>.currency-count {
    font-size: 3rem;
    font-weight: bold;
    margin: 0; padding: 0 4px 0 0;
    width: 48%;
    display: inline-block;
    text-align: right;
    background: rgba(0,0,0,0.05);
    line-height:3rem;
    color: rgba(0,0,0,0.9);
    box-sizing: border-box;
}

.currency-info>.currency-converter>.currency-count>.currency-symbol {
    color: rgba(255,255,255,0.75);
    font-size: 2.5rem;
}

.currency-info>.currency-converter>.currency-equal {
    font-size: 3rem;
    font-weight: bold;
    margin: 0; padding: 0;
    width: 4%;
    display: inline-block;
    line-height: 3rem;
    text-align: center;
    color: rgba(0,0,0,0.75);
}

.currency-info>.currency-converter>.currency-name {
    font-size: 1.5rem;
    margin: 0; padding: 0;
    width: 48%;
    display: inline-block;
    line-height: 2rem;
    text-align: right;
    color: rgba(0,0,0,0.8);
}

.currency-info>.currency-converter>.currency-space {
    display: inline-block;
    width: 4%;
    line-height: 1rem;
}

.app-container>footer {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.75);
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.2);
}

.app-container>footer>a {
    color: #0032ff;
    text-decoration: none;
}

.app-container>footer>a:hover {
    text-decoration: underline;
}
