* {
    font-family: 'Open Sans', sans-serif;
}

.bitcoin-chart {
    width: 1200px;
    height: 201px;
    display: block;
}

.bitcoin-chart-line {
    stroke: rgba(0,96,255,0.9);
    stroke-width: 1px;
}